In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
import datetime as dt
from pandas.tseries.offsets import MonthEnd
from yahooquery import Ticker

In [2]:
uni = pd.read_csv('S&P500 from 2000-2021')

In [3]:
tickers = uni.ticker.to_list()

In [4]:
len(tickers)

653

In [5]:
data = yf.download(tickers, start='2000-01-01', end='2021-12-31')

[*********************100%***********************]  575 of 575 completed

129 Failed downloads:
- FDO: No data found for this date range, symbol may be delisted
- RHT: No data found, symbol may be delisted
- CAM: No data found for this date range, symbol may be delisted
- TSO: No data found for this date range, symbol may be delisted
- BJS: No data found for this date range, symbol may be delisted
- LLTC: No data found for this date range, symbol may be delisted
- KORS: No data found for this date range, symbol may be delisted
- PGN: No data found for this date range, symbol may be delisted
- BXLT: No data found for this date range, symbol may be delisted
- QEP: No data found, symbol may be delisted
- RRD: No data found, symbol may be delisted
- KSU: No data found, symbol may be delisted
- ALXN: No data found, symbol may be delisted
- RAI: No data found for this date range, symbol may be delisted
- HCBK: No data found for this date range, symbol may be delisted
- APC: No data found, symbol may be delisted
- CFN: No data found for this date range, symbol may be delisted
- ACAS: No data found for this date range, symbol may be delisted
- FNM: No data found for this date range, symbol may be delisted
- NBL: No data found, symbol may be delisted
- FTR: No data found, symbol may be delisted
- HRS: No data found, symbol may be delisted
- STJ: No data found for this date range, symbol may be delisted
- GENZ: No data found for this date range, symbol may be delisted
- SWY: No data found for this date range, symbol may be delisted
- LUK: No data found for this date range, symbol may be delisted
- AVP: No data found, symbol may be delisted
- VIAB: No data found, symbol may be delisted
- VAR: No data found, symbol may be delisted
- TSG: No data found, symbol may be delisted
- QTRN: No data found for this date range, symbol may be delisted
- JEC: No data found, symbol may be delisted
- NOVL: No data found for this date range, symbol may be delisted
- JCP: No data found, symbol may be delisted
- BRK.B: No data found, symbol may be delisted
- HSP: No data found for this date range, symbol may be delisted
- DJ: No data found for this date range, symbol may be delisted
- APOL: No data found for this date range, symbol may be delisted
- Q: No data found for this date range, symbol may be delisted
- COG: No data found, symbol may be delisted
- AV: No data found for this date range, symbol may be delisted
- TWC: No data found for this date range, symbol may be delisted
- PCS: No data found for this date range, symbol may be delisted
- STI: No data found, symbol may be delisted
- WCG: No data found, symbol may be delisted
- LM: No data found, symbol may be delisted
- ETFC: No data found, symbol may be delisted
- NVLS: No data found for this date range, symbol may be delisted
- MIL: No data found for this date range, symbol may be delisted
- CMCSK: No data found for this date range, symbol may be delisted
- PCLN: No data found for this date range, symbol may be delisted
- WFM: No data found for this date range, symbol may be delisted
- WPX: No data found, symbol may be delisted
- DNR: No data found, symbol may be delisted
- MJN: No data found for this date range, symbol may be delisted
- LO: No data found for this date range, symbol may be delisted
- AKS: No data found, symbol may be delisted
- JOY: No data found for this date range, symbol may be delisted
- ESV: No data found, symbol may be delisted
- TSS: No data found, symbol may be delisted
- KFT: No data found for this date range, symbol may be delisted
- SNDK: No data found for this date range, symbol may be delisted
- SLE: No data found for this date range, symbol may be delisted
- DPS: No data found for this date range, symbol may be delisted
- CCE: No data found for this date range, symbol may be delisted
- WIN: No data found, symbol may be delisted
- RX: No data found for this date range, symbol may be delisted
- TIF: No data found, symbol may be delisted
- CVC: No data found for this date range, symbol may be delisted
- MWW: No data found for this date range, symbol may be delisted
- CEG: Data doesn't exist for startDate = 946702800, endDate = 1640926800
- WFR: No data found for this date range, symbol may be delisted
- BCR: No data found for this date range, symbol may be delisted
- FLIR: No data found, symbol may be delisted
- DTV: No data found, symbol may be delisted
- FRE: No data found for this date range, symbol may be delisted
- XEC: No data found, symbol may be delisted
- TE: No data found for this date range, symbol may be delisted
- YHOO: No data found for this date range, symbol may be delisted
- DLPH: No data found, symbol may be delisted
- EK: No data found for this date range, symbol may be delisted
- TYC: No data found for this date range, symbol may be delisted
- LVLT: No data found for this date range, symbol may be delisted
- WLTW: No data found, symbol may be delisted
- JDSU: No data found for this date range, symbol may be delisted
- ARG: No data found for this date range, symbol may be delisted
- CELG: No data found, symbol may be delisted
- GLK: No data found for this date range, symbol may be delisted
- HAR: No data found for this date range, symbol may be delisted
- COV: No data found for this date range, symbol may be delisted
- SBL: No data found for this date range, symbol may be delisted
- CEPH: No data found for this date range, symbol may be delisted
- CXO: No data found, symbol may be delisted
- FII: No data found, symbol may be delisted
- ANR: No data found for this date range, symbol may be delisted
- MXIM: No data found, symbol may be delisted
- DO: Data doesn't exist for startDate = 946702800, endDate = 1640926800
- FRX: No data found, symbol may be delisted
- DWDP: No data found, symbol may be delisted
- ABS: No data found for this date range, symbol may be delisted
- HFC: No data found, symbol may be delisted
- FDC: No data found, symbol may be delisted
- INFO: No data found, symbol may be delisted
- MOLX: No data found for this date range, symbol may be delisted
- GGP: No data found for this date range, symbol may be delisted
- POM: No data found for this date range, symbol may be delisted
- KRFT: No data found for this date range, symbol may be delisted
- AGN: No data found, symbol may be delisted
- XTO: No data found for this date range, symbol may be delisted
- LEH: No data found for this date range, symbol may be delisted
- BS: No data found for this date range, symbol may be delisted
- GAS: No data found for this date range, symbol may be delisted
- SMS: No data found for this date range, symbol may be delisted
- PETM: No data found for this date range, symbol may be delisted
- RTN: No data found, symbol may be delisted
- GRA: No data found, symbol may be delisted
- WYN: No data found for this date range, symbol may be delisted
- SIAL: No data found for this date range, symbol may be delisted
- BRCM: No data found for this date range, symbol may be delisted
- MHS: No data found for this date range, symbol may be delisted
- MNK: No data found, symbol may be delisted
- JNS: No data found for this date range, symbol may be delisted
- OMX: No data found for this date range, symbol may be delisted
- GMCR: No data found for this date range, symbol may be delisted
- RDC: No data found, symbol may be delisted
- DF: No data found, symbol may be delisted
- CPGX: No data found for this date range, symbol may be delisted
- LXK: No data found for this date range, symbol may be delisted
- SPLS: No data found for this date range, symbol may be delisted

In [6]:
data.tail()

                      Adj Close                                                \
                              A         AA        AAL         AAP        ABBV
Date
2021-12-27 00:00:00  158.282715  59.830002  18.170000  234.790527  131.908478
2021-12-28 00:00:00  158.721420  59.189999  18.540001  236.408752  131.888840
2021-12-29 00:00:00  160.187180  59.630001  18.049999  239.287781  132.840805
2021-12-30 00:00:00  160.416534  59.209999  18.070000  235.803162  133.400192
2021-12-31 00:00:00         NaN        NaN        NaN         NaN         NaN

                                                          ...     Volume  \
                            ABC ABK        ABMD ABS ACAS  ...         XL
Date                                                      ...
2021-12-27 00:00:00  131.072433 NaN  357.829987 NaN  NaN  ...  4187100.0
2021-12-28 00:00:00  131.529541 NaN  357.440002 NaN  NaN  ...  3164800.0
2021-12-29 00:00:00  132.503387 NaN  361.839996 NaN  NaN  ...  2692800.0
2021-12-30 00:00:00  132.930710 NaN  362.059998 NaN  NaN  ...  4984100.0
2021-12-31 00:00:00         NaN NaN         NaN NaN  NaN  ...        NaN

                                                                         \
                          XRAY        XRX XTO       XYL YHOO        ZBH
Date
2021-12-27 00:00:00  1268500.0  2209600.0 NaN  837200.0  NaN  1221065.0
2021-12-28 00:00:00   772100.0  1983400.0 NaN  402400.0  NaN  1506581.0
2021-12-29 00:00:00  1112400.0  2269700.0 NaN  708800.0  NaN  2508771.0
2021-12-30 00:00:00  1119100.0  1747000.0 NaN  401400.0  NaN  1304701.0
2021-12-31 00:00:00        NaN        NaN NaN       NaN  NaN        NaN


                         ZBRA      ZION        ZTS
Date
2021-12-27 00:00:00  636400.0  495500.0   807000.0
2021-12-28 00:00:00  139500.0  497200.0  1004400.0
2021-12-29 00:00:00  128600.0  691600.0   939900.0
2021-12-30 00:00:00   87500.0  413100.0   859100.0
2021-12-31 00:00:00       NaN       NaN        NaN

[5 rows x 3450 columns]

In [7]:
prices = data['Adj Close']
prices.index = pd.to_datetime(prices.index)
monthly_return = prices.pct_change().resample('M').agg(lambda x: (x+1).prod() -1)

In [61]:
monthly_return.tail()

,A,AA,AAL,AAP,ABBV,ABC,ABK,ABMD,ABS,ACAS,...,XL,XRAY,XRX,XTO,XYL,YHOO,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2021-08-31,0.145141,0.105106,-0.021590,-0.043431,0.038521,0.004008,0.0,0.112551,0.0,0.0,...,-0.025788,-0.065718,-0.067136,0.0,0.085383,0.0,-0.079366,0.062790,0.110259,0.009176
2021-09-30,-0.102240,0.102997,0.029087,0.034794,-0.106888,-0.022584,0.0,-0.105616,0.0,0.0,...,-0.094118,-0.057422,-0.093210,0.0,-0.092656,0.0,-0.025635,-0.122196,0.068912,-0.050939
2021-10-31,0.000991,-0.059045,-0.064327,0.079611,0.075926,0.021515,0.0,0.020030,0.0,0.0,...,-0.110390,-0.014470,-0.117501,0.0,0.055870,0.0,-0.022137,0.035951,0.017774,0.114959
2021-11-30,-0.041844,0.012622,-0.078646,-0.021284,0.005320,-0.047900,0.0,-0.051982,0.0,0.0,...,-0.171533,-0.148051,0.034831,0.0,-0.070578,0.0,-0.164338,0.102688,0.001429,0.027012
2021-12-31,0.066137,0.272512,0.021481,0.080633,0.179129,0.155680,0.0,0.150200,0.0,0.0,...,-0.218062,0.155300,0.252279,0.0,-0.016597,0.0,0.074522,0.014878,0.000793,0.104125

In [155]:
past_03 = (monthly_return + 1).rolling(2).apply(np.prod) - 1
past_06 = (monthly_return + 1).rolling(5).apply(np.prod) - 1
past_09 = (monthly_return + 1).rolling(8).apply(np.prod) - 1
past_12 = (monthly_return + 1).rolling(11).apply(np.prod) - 1

In [156]:
past_03_months = past_03.mask(past_03 == 0)
past_06_months = past_06.mask(past_06 == 0)
past_09_months = past_09.mask(past_09 == 0)
past_12_months = past_12.mask(past_12 == 0)

In [157]:
past_12_months.head(20)

,A,AA,AAL,AAP,ABBV,ABC,ABK,ABMD,ABS,ACAS,...,XL,XRAY,XRX,XTO,XYL,YHOO,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-11-30,-0.275174,-0.292420,NaN,NaN,NaN,2.164659,-0.028145,0.277397,NaN,NaN,...,NaN,0.549145,-0.702860,NaN,NaN,NaN,NaN,-0.256382,0.004414,NaN
2000-12-31,-0.172805,-0.023305,NaN,NaN,NaN,1.786208,-0.043440,-0.170940,NaN,NaN,...,NaN,0.593179,-0.770473,NaN,NaN,NaN,NaN,-0.310718,0.071842,NaN
2001-01-31,-0.474850,0.090568,NaN,NaN,NaN,2.284464,0.144996,-0.389687,NaN,NaN,...,NaN,0.359336,-0.610855,NaN,NaN,NaN,NaN,-0.163380,0.068775,NaN
2001-02-28,-0.653846,0.035036,NaN,NaN,NaN,2.581332,0.178010,0.123457,NaN,NaN,...,NaN,0.333401,-0.759568,NaN,NaN,NaN,NaN,-0.098750,0.405441,NaN
2001-03-31,-0.653258,0.126745,NaN,NaN,NaN,1.452500,0.253375,-0.151515,NaN,NaN,...,NaN,0.265477,-0.766057,NaN,NaN,NaN,NaN,-0.331140,0.278432,NaN
2001-04-30,-0.470153,0.434926,NaN,NaN,NaN,1.226805,0.128267,0.003922,NaN,NaN,...,NaN,0.286463,-0.657651,NaN,NaN,NaN,NaN,-0.098750,0.156309,NaN
2001-05-31,-0.545220,0.512328,NaN,NaN,NaN,0.860675,0.243204,0.611707,NaN,NaN,...,NaN,0.437306,-0.509403,NaN,NaN,NaN,NaN,0.016192,0.198008,NaN
2001-06-30,-0.202454,0.343996,NaN,NaN,NaN,0.584258,0.493065,0.186415,NaN,NaN,...,NaN,0.320974,-0.347343,NaN,NaN,NaN,NaN,-0.038042,0.369428,NaN
2001-07-31,-0.530984,0.193810,NaN,NaN,NaN,0.655231,0.473708,-0.370600,NaN,NaN,...,NaN,0.336781,-0.501314,NaN,NaN,NaN,-0.038978,-0.217593,0.320318,NaN
2001-08-31,-0.458493,0.530360,NaN,NaN,NaN,0.371064,0.689199,-0.449541,NaN,NaN,...,NaN,0.283943,-0.377163,NaN,NaN,NaN,-0.086021,-0.025852,0.135688,NaN

In [239]:
formation = dt.datetime(2001,1,31)
formation

datetime.datetime(2001, 1, 31, 0, 0)

In [214]:
begin_formation = formation + MonthEnd(252)
begin_formation

Timestamp('2021-11-30 00:00:00')

In [215]:
end_measurement = begin_formation - MonthEnd(12)
end_measurement

Timestamp('2020-11-30 00:00:00')

In [216]:
price_end = monthly_return.loc[end_measurement]

In [217]:
price_end

A       0.145068
AA      0.540248
AAL     0.252660
AAP     0.002852
ABBV    0.228907
          ...
YHOO    0.000000
ZBH     0.128842
ZBRA    0.334156
ZION    0.206209
ZTS     0.011542
Name: 2020-11-30 00:00:00, Length: 575, dtype: float64

In [218]:
return_12 = past_12_months.loc[end_measurement]
return_12 = return_12.reset_index()
return_12

    index  2020-11-30 00:00:00
0       A             0.379151
1      AA            -0.074849
2     AAL            -0.505501
3     AAP            -0.072134
4    ABBV             0.246549
..    ...                  ...
570  YHOO                  NaN
571   ZBH             0.002583
572  ZBRA             0.481444
573  ZION            -0.228649
574   ZTS             0.218729

[575 rows x 2 columns]

In [219]:
return_12['decile'] = pd.qcut(return_12.iloc[:,1], q=10 , labels=False, duplicates='drop')
return_12

    index  2020-11-30 00:00:00  decile
0       A             0.379151     8.0
1      AA            -0.074849     2.0
2     AAL            -0.505501     0.0
3     AAP            -0.072134     3.0
4    ABBV             0.246549     6.0
..    ...                  ...     ...
570  YHOO                  NaN     NaN
571   ZBH             0.002583     3.0
572  ZBRA             0.481444     8.0
573  ZION            -0.228649     1.0
574   ZTS             0.218729     6.0

[575 rows x 3 columns]

In [220]:
price_12mbefore = monthly_return.loc[begin_formation]
price_12mbefore

A      -0.041844
AA      0.012622
AAL    -0.078646
AAP    -0.021284
ABBV    0.005320
          ...
YHOO    0.000000
ZBH    -0.164338
ZBRA    0.102688
ZION    0.001429
ZTS     0.027012
Name: 2021-11-30 00:00:00, Length: 575, dtype: float64

In [221]:
winners = return_12[return_12['decile'] == 9]
winners.head()

   index  2020-11-30 00:00:00  decile
7   ABMD             0.606777     9.0
10   ACE            24.190841     9.0
21   ALB             0.887933     9.0
22  ALGN             0.724806     9.0
28   AMD             1.020497     9.0

In [222]:
losers= return_12[return_12['decile'] == 0]
losers.head()

   index  2020-11-30 00:00:00  decile
2    AAL            -0.505501     0.0
12   ADS            -0.335685     0.0
16   AIV            -1.698046     0.0
49   ATI            -0.347047     0.0
78   BTU            -0.851974     0.0

In [223]:
winner_ret = monthly_return.loc[formation+MonthEnd(1),monthly_return.columns.isin(winners['index'])]
winner_ret.head()

ABMD    0.040214
ACE     0.000000
ALB     0.128406
ALGN    0.000000
AMD    -0.094262
Name: 2000-12-31 00:00:00, dtype: float64

In [240]:
def mom(begin_measurement, holdingperiod =1, formation_period =1  ):
    end_measurement = begin_formation - MonthEnd(formation_period)
    if formation_period ==3 :
        returns = past_03_months.loc[end_measurement]
    elif formation_period == 6:
        returns = past_06_months.loc[end_measurement]
    elif formation_period == 9:
        returns = past_09_months.loc[end_measurement]
    else: returns = past_12_months.loc[end_measurement]
    returns = returns.reset_index()
    returns['decile'] = pd.qcut(returns.iloc[:,1], q=10 , labels=False, duplicates='drop')
    winners = returns[returns['decile'] == 9]
    losers= returns[returns['decile'] == 0]
    winner_ret = monthly_return.loc[formation+MonthEnd(holdingperiod),monthly_return.columns.isin(winners['index'])]
    losers_ret = monthly_return.loc[formation+MonthEnd(holdingperiod),monthly_return.columns.isin(losers['index'])]
    momentum_profit = winner_ret.mean() - losers_ret.mean()
    return momentum_profit

In [241]:
j1 = [3,6,9,12]
k2 = [3,6,9,12]

In [242]:
# cols = []
# cols.append('dates')
# for j in j1:
#     for k in j1:
#         cols.append(f'J:{j}, K:{k}')
# cols

In [249]:
dates=[]
profits=[]
cols2 = []
for i in range (252):
    begin_formation = formation + MonthEnd(i)
    for j in j1:
        for k in j1:
            profits.append(mom(begin_formation,j,k))
            dates.append(begin_formation)
            cols2.append(f'J:{j}, K:{k}')

In [250]:

df_porfits = pd.DataFrame(profits,columns=['profits'])

In [251]:
len(profits)

4032

In [266]:
df = pd.DataFrame()
df['dates'] = dates

In [267]:
df['dates'].head()

0   2001-01-31
1   2001-01-31
2   2001-01-31
3   2001-01-31
4   2001-01-31
Name: dates, dtype: datetime64[ns]

In [257]:
df['port'] = cols2

In [258]:
df['returns'] = profits

In [259]:
df = df.sort_values(by='port')
df

          dates        port   returns
3762 2020-08-31  J:12, K:12 -0.014799
1697 2009-11-30  J:12, K:12 -0.014702
2625 2014-09-30  J:12, K:12 -0.017097
3793 2020-10-31  J:12, K:12 -0.001820
561  2003-12-31  J:12, K:12  0.004719
...         ...         ...       ...
3898 2021-04-30    J:9, K:9 -0.010099
3656 2020-01-31    J:9, K:9  0.054253
1491 2008-10-31    J:9, K:9 -0.087644
3592 2019-09-30    J:9, K:9  0.050034
2638 2014-09-30    J:9, K:9  0.051339

[4032 rows x 3 columns]

In [260]:
df = df.groupby('port').mean()
df = df.sort_values('returns' , ascending=True)
df

             returns
port
J:3, K:6   -0.011239
J:3, K:9   -0.008761
J:3, K:12  -0.006842
J:3, K:3   -0.004744
J:6, K:3    0.001529
J:9, K:3    0.002734
J:9, K:9    0.003534
J:6, K:6    0.004157
J:9, K:12   0.005716
J:12, K:3   0.005789
J:9, K:6    0.006552
J:6, K:9    0.007092
J:6, K:12   0.007787
J:12, K:6   0.008931
J:12, K:9   0.010145
J:12, K:12  0.011656

In [261]:
df['returns_annualized'] = (((df['returns'] + 1)**12) -1)
df

             returns  returns_annualized
port
J:3, K:6   -0.011239           -0.126832
J:3, K:9   -0.008761           -0.100209
J:3, K:12  -0.006842           -0.079087
J:3, K:3   -0.004744           -0.055460
J:6, K:3    0.001529            0.018506
J:9, K:3    0.002734            0.033308
J:9, K:9    0.003534            0.043245
J:6, K:6    0.004157            0.051046
J:9, K:12   0.005716            0.070788
J:12, K:3   0.005789            0.071720
J:9, K:6    0.006552            0.081526
J:6, K:9    0.007092            0.088507
J:6, K:12   0.007787            0.097549
J:12, K:6   0.008931            0.112598
J:12, K:9   0.010145            0.128772
J:12, K:12  0.011656            0.149194

In [262]:
df = df.sort_values(by='returns_annualized')

In [263]:
df

             returns  returns_annualized
port
J:3, K:6   -0.011239           -0.126832
J:3, K:9   -0.008761           -0.100209
J:3, K:12  -0.006842           -0.079087
J:3, K:3   -0.004744           -0.055460
J:6, K:3    0.001529            0.018506
J:9, K:3    0.002734            0.033308
J:9, K:9    0.003534            0.043245
J:6, K:6    0.004157            0.051046
J:9, K:12   0.005716            0.070788
J:12, K:3   0.005789            0.071720
J:9, K:6    0.006552            0.081526
J:6, K:9    0.007092            0.088507
J:6, K:12   0.007787            0.097549
J:12, K:6   0.008931            0.112598
J:12, K:9   0.010145            0.128772
J:12, K:12  0.011656            0.149194