In [12]:
import yfinance as yf
import numpy as np
import pandas as pd
import datetime as dt
from pandas.tseries.offsets import MonthEnd
from yahooquery import Ticker

In [13]:
uni = pd.read_csv('S&P500 from 2000-2021')

In [14]:
tickers = uni.ticker.to_list()

In [15]:
len(tickers)

653

In [16]:
data = yf.download(tickers, start='2000-01-01', end='2021-12-31')

[*********************100%***********************]  575 of 575 completed

144 Failed downloads:
- DJ: No data found for this date range, symbol may be delisted
- CPGX: No data found for this date range, symbol may be delisted
- AGN: No data found, symbol may be delisted
- TSS: No data found, symbol may be delisted
- MIL: No data found for this date range, symbol may be delisted
- FDC: No data found, symbol may be delisted
- XEC: No data found, symbol may be delisted
- TSO: No data found for this date range, symbol may be delisted
- TIF: No data found, symbol may be delisted
- LVLT: No data found for this date range, symbol may be delisted
- NBL: No data found, symbol may be delisted
- MJN: No data found for this date range, symbol may be delisted
- DWDP: No data found, symbol may be delisted
- BRCM: No data found for this date range, symbol may be delisted
- SNDK: No data found for this date range, symbol may be delisted
- CAM: No data found for this date range, symbol may be delisted
- AV: No data found for this date range, symbol may be delisted
- NOVL: No data found for this date range, symbol may be delisted
- CELG: No data found, symbol may be delisted
- LEH: No data found for this date range, symbol may be delisted
- PGN: No data found for this date range, symbol may be delisted
- FLIR: No data found, symbol may be delisted
- HRS: No data found, symbol may be delisted
- KFT: No data found for this date range, symbol may be delisted
- AKS: No data found, symbol may be delisted
- TYC: No data found for this date range, symbol may be delisted
- ESV: No data found, symbol may be delisted
- LM: No data found, symbol may be delisted
- STI: No data found, symbol may be delisted
- ABK: No data found for this date range, symbol may be delisted
- PCLN: No data found for this date range, symbol may be delisted
- WCG: No data found, symbol may be delisted
- VAR: No data found, symbol may be delisted
- HSP: No data found for this date range, symbol may be delisted
- PCS: No data found for this date range, symbol may be delisted
- APOL: No data found for this date range, symbol may be delisted
- WLTW: No data found, symbol may be delisted
- TSG: No data found, symbol may be delisted
- EK: No data found for this date range, symbol may be delisted
- EMC: No data found for this date range, symbol may be delisted
- JDSU: No data found for this date range, symbol may be delisted
- MWW: No data found for this date range, symbol may be delisted
- INFO: No data found, symbol may be delisted
- PTV: No data found for this date range, symbol may be delisted
- RHT: No data found, symbol may be delisted
- RDC: No data found, symbol may be delisted
- TEG: No data found for this date range, symbol may be delisted
- KORS: No data found for this date range, symbol may be delisted
- JEC: No data found, symbol may be delisted
- TIE: No data found for this date range, symbol may be delisted
- LO: No data found for this date range, symbol may be delisted
- AVP: No data found, symbol may be delisted
- MNK: No data found, symbol may be delisted
- FNM: No data found for this date range, symbol may be delisted
- QEP: No data found, symbol may be delisted
- ETFC: No data found, symbol may be delisted
- TRB: No data found for this date range, symbol may be delisted
- KG: No data found for this date range, symbol may be delisted
- ALXN: No data found, symbol may be delisted
- RX: No data found for this date range, symbol may be delisted
- WYN: No data found for this date range, symbol may be delisted
- MEE: No data found for this date range, symbol may be delisted
- DPS: No data found for this date range, symbol may be delisted
- COG: No data found, symbol may be delisted
- NVLS: No data found for this date range, symbol may be delisted
- RRD: No data found, symbol may be delisted
- DNR: No data found, symbol may be delisted
- Q: No data found for this date range, symbol may be delisted
- GENZ: No data found for this date range, symbol may be delisted
- SIAL: No data found for this date range, symbol may be delisted
- BXLT: No data found for this date range, symbol may be delisted
- KSU: No data found, symbol may be delisted
- GLK: No data found for this date range, symbol may be delisted
- BCR: No data found for this date range, symbol may be delisted
- CMCSK: No data found for this date range, symbol may be delisted
- PCP: No data found for this date range, symbol may be delisted
- MXIM: No data found, symbol may be delisted
- FTR: No data found, symbol may be delisted
- QTRN: No data found for this date range, symbol may be delisted
- COV: No data found for this date range, symbol may be delisted
- CTX: No data found for this date range, symbol may be delisted
- GGP: No data found for this date range, symbol may be delisted
- DLPH: No data found, symbol may be delisted
- DO: Data doesn't exist for startDate = 946702800, endDate = 1640926800
- MHS: No data found for this date range, symbol may be delisted
- SLE: No data found for this date range, symbol may be delisted
- GR: No data found for this date range, symbol may be delisted
- RTN: No data found, symbol may be delisted
- BS: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted
- STJ: No data found for this date range, symbol may be delisted
- MOLX: No data found for this date range, symbol may be delisted
- HCBK: No data found for this date range, symbol may be delisted
- VIAB: No data found, symbol may be delisted
- HAR: No data found for this date range, symbol may be delisted
- TWC: No data found for this date range, symbol may be delisted
- TE: No data found for this date range, symbol may be delisted
- PCL: No data found for this date range, symbol may be delisted
- SBL: No data found for this date range, symbol may be delisted
- CCE: No data found for this date range, symbol may be delisted
- FRE: No data found for this date range, symbol may be delisted
- WPX: No data found, symbol may be delisted
- APC: No data found, symbol may be delisted
- FII: No data found, symbol may be delisted
- RAI: No data found for this date range, symbol may be delisted
- GMCR: No data found for this date range, symbol may be delisted
- WFM: No data found for this date range, symbol may be delisted
- YHOO: No data found for this date range, symbol may be delisted
- LXK: No data found for this date range, symbol may be delisted
- SWY: No data found for this date range, symbol may be delisted
- ABS: No data found for this date range, symbol may be delisted
- JOY: No data found for this date range, symbol may be delisted
- BMC: No data found for this date range, symbol may be delisted
- XTO: No data found for this date range, symbol may be delisted
- DTV: No data found, symbol may be delisted
- CSC: No data found for this date range, symbol may be delisted
- ANR: No data found for this date range, symbol may be delisted
- CVC: No data found for this date range, symbol may be delisted
- JNY: No data found for this date range, symbol may be delisted
- CFN: No data found for this date range, symbol may be delisted
- ARG: No data found for this date range, symbol may be delisted
- GAS: No data found for this date range, symbol may be delisted
- JNS: No data found for this date range, symbol may be delisted
- SLR: No data found for this date range, symbol may be delisted
- LUK: No data found for this date range, symbol may be delisted
- CVH: No data found for this date range, symbol may be delisted
- BJS: No data found for this date range, symbol may be delisted
- LLTC: No data found for this date range, symbol may be delisted
- FDO: No data found for this date range, symbol may be delisted
- WIN: No data found, symbol may be delisted
- DF: No data found, symbol may be delisted
- GRA: No data found, symbol may be delisted
- SPLS: No data found for this date range, symbol may be delisted
- CEPH: No data found for this date range, symbol may be delisted
- SMS: No data found for this date range, symbol may be delisted
- JCP: No data found, symbol may be delisted
- HNZ: No data found, symbol may be delisted
- ACE: No data found for this date range, symbol may be delisted
- ACAS: No data found for this date range, symbol may be delisted
- FRX: No data found, symbol may be delisted
- CEG: Data doesn't exist for startDate = 946702800, endDate = 1640926800
- CXO: No data found, symbol may be delisted
- CBE: No data found for this date range, symbol may be delisted
- KRFT: No data found for this date range, symbol may be delisted

In [22]:
data.tail()

                      Adj Close                                                \
                              A         AA        AAL         AAP        ABBV
Date
2021-12-27 00:00:00  158.531204  59.830002  18.170000  236.500000  133.029587
2021-12-28 00:00:00  158.970612  59.189999  18.540001  238.130005  133.009781
2021-12-29 00:00:00  160.438675  59.630001  18.049999  241.029999  133.969818
2021-12-30 00:00:00  160.668396  59.209999  18.070000  237.520004  134.533966
2021-12-31 00:00:00         NaN        NaN        NaN         NaN         NaN

                                                          ...     Volume  \
                            ABC ABK        ABMD ABS ACAS  ...         XL
Date                                                      ...
2021-12-27 00:00:00  131.471329 NaN  357.829987 NaN  NaN  ...  4187100.0
2021-12-28 00:00:00  131.929840 NaN  357.440002 NaN  NaN  ...  3164800.0
2021-12-29 00:00:00  132.906647 NaN  361.839996 NaN  NaN  ...  2692800.0
2021-12-30 00:00:00  133.335266 NaN  362.059998 NaN  NaN  ...  4984100.0
2021-12-31 00:00:00         NaN NaN         NaN NaN  NaN  ...        NaN

                                                                         \
                          XRAY        XRX XTO       XYL YHOO        ZBH
Date
2021-12-27 00:00:00  1268500.0  2209600.0 NaN  837200.0  NaN  1221065.0
2021-12-28 00:00:00   772100.0  1983400.0 NaN  402400.0  NaN  1506581.0
2021-12-29 00:00:00  1112400.0  2269700.0 NaN  708800.0  NaN  2508771.0
2021-12-30 00:00:00  1119100.0  1747000.0 NaN  401400.0  NaN  1304701.0
2021-12-31 00:00:00        NaN        NaN NaN       NaN  NaN        NaN


                         ZBRA      ZION        ZTS
Date
2021-12-27 00:00:00  636400.0  495500.0   807000.0
2021-12-28 00:00:00  139500.0  497200.0  1004400.0
2021-12-29 00:00:00  128600.0  691600.0   939900.0
2021-12-30 00:00:00   87500.0  413100.0   859100.0
2021-12-31 00:00:00       NaN       NaN        NaN

[5 rows x 3450 columns]

In [51]:
prices = data['Adj Close']
prices.index = pd.to_datetime(prices.index)
monthly_return = prices.pct_change().resample('M').agg(lambda x: (x+1).prod() -1)

In [243]:
monthly_return

pandas.core.frame.DataFrame

In [288]:
past_11 = (monthly_return+1).rolling(9).apply(np.prod) -1

In [289]:

past_3_months = past_11.mask(past_11 == 0)
past_11

,A,AA,AAL,AAP,ABBV,ABC,ABK,ABMD,ABS,ACAS,...,XL,XRAY,XRX,XTO,XYL,YHOO,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-31,0.507755,1.229648,0.411182,0.384447,0.195803,0.198961,NaN,0.327836,NaN,NaN,...,-0.515670,0.218872,0.061636,NaN,0.430783,NaN,0.013565,0.551636,0.519223,0.280969
2021-09-30,0.335439,1.123210,0.301205,0.341309,0.042370,0.236016,NaN,0.004071,NaN,NaN,...,-0.740413,0.112421,-0.101202,NaN,0.223985,NaN,-0.045810,0.341087,0.442608,0.178108
2021-10-31,0.315916,1.558353,0.118230,0.529362,0.159064,0.184575,NaN,-0.046547,NaN,NaN,...,-0.711275,0.073163,-0.125343,NaN,0.361944,NaN,-0.064383,0.376763,0.444964,0.407163
2021-11-30,0.241228,0.899455,-0.155205,0.392169,0.108342,0.156230,NaN,-0.030103,NaN,NaN,...,-0.679605,-0.078484,-0.252954,NaN,0.224586,NaN,-0.263165,0.178904,0.193314,0.435957
2021-12-31,0.270548,0.826387,-0.243933,0.312895,0.301082,0.145536,NaN,0.135946,NaN,NaN,...,-0.604677,-0.117746,-0.027975,NaN,0.139916,NaN,-0.194741,0.231584,0.155364,0.562925

In [294]:
formation = dt.datetime(2001,1,28)
formation

datetime.datetime(2001, 1, 28, 0, 0)

In [296]:
begin_measurement =formation -MonthEnd(12)
begin_measurement

Timestamp('2000-02-29 00:00:00')

In [298]:
end_measurement = formation - MonthEnd(1)
end_measurement

Timestamp('2000-12-31 00:00:00')

In [281]:
return_12 = past_11.loc[end_measurement]
return_12 = return_12.reset_index()
return_12

    index  2001-02-28 00:00:00
0       A            -0.310180
1      AA             0.274043
2     AAL                  NaN
3     AAP                  NaN
4    ABBV                  NaN
..    ...                  ...
570  YHOO                  NaN
571   ZBH                  NaN
572  ZBRA             0.076119
573  ZION             0.055162
574   ZTS                  NaN

[575 rows x 2 columns]

In [282]:
return_12['decile'] = pd.qcut(return_12.iloc[:,1], q=10 , labels=False, duplicates='drop')
return_12

    index  2001-02-28 00:00:00  decile
0       A            -0.310180     0.0
1      AA             0.274043     8.0
2     AAL                  NaN     NaN
3     AAP                  NaN     NaN
4    ABBV                  NaN     NaN
..    ...                  ...     ...
570  YHOO                  NaN     NaN
571   ZBH                  NaN     NaN
572  ZBRA             0.076119     4.0
573  ZION             0.055162     4.0
574   ZTS                  NaN     NaN

[575 rows x 3 columns]

In [283]:
price_12mbefore = monthly_return.loc[begin_measurement]
price_12mbefore

A       0.126855
AA     -0.013129
AAL     0.000000
AAP     0.000000
ABBV    0.000000
          ...
YHOO    0.000000
ZBH     0.000000
ZBRA   -0.044223
ZION   -0.045558
ZTS     0.000000
Name: 2000-11-30 00:00:00, Length: 575, dtype: float64

In [284]:
winners = return_12[return_12['decile'] == 9]
winners

    index  2001-02-28 00:00:00  decile
28    AMD             0.409836     9.0
51   ATVI             1.210844     9.0
64    BIG             0.811387     9.0
91    CCK             0.393231     9.0
114   CNX             0.588572     9.0
162   DVA             0.664379     9.0
168    EA             0.401051     9.0
206   FLR             0.411852     9.0
241    GT             0.523294     9.0
246   HFC             0.575229     9.0
253    HP             0.743021     9.0
255   HRB             0.412384     9.0
318  LRCX             0.433334     9.0
327     M             0.585246     9.0
357  MTCH             0.401487     9.0
381   NVR             0.618132     9.0
391    OI             1.730435     9.0
416  PRGO             0.446429     9.0
431   RAD             1.088000     9.0
433   RCL             0.440266     9.0
442    RL             0.399402     9.0
447   RRC             0.454546     9.0
514  TSCO             0.941176     9.0
535  URBN             0.398438     9.0
544   VTR             0.982862     9.0
546   WAB             0.556710     9.0

In [285]:
losers= return_12[return_12['decile'] == 0]
losers

    index  2001-02-28 00:00:00  decile
0       A            -0.310180     0.0
19   AKAM            -0.410870     0.0
22   ALGN            -0.555556     0.0
33   AMZN            -0.587342     0.0
43    APH            -0.331148     0.0
128  CTAS            -0.289650     0.0
152  DLTR            -0.253356     0.0
199  FFIV            -0.719849     0.0
204    FL            -0.180651     0.0
266  ILMN            -0.180887     0.0
267  INCY            -0.365566     0.0
274  ISRG            -0.382979     0.0
280   JBL            -0.280640     0.0
287  JNPR            -0.481946     0.0
310   LHX            -0.183415     0.0
371  NKTR            -0.275974     0.0
398   PCG            -0.484049     0.0
438   RHI            -0.194644     0.0
467  SIVB            -0.190217     0.0
487   SVU            -0.224860     0.0
488  SWKS            -0.472393     0.0
496   TDY            -0.321558     0.0
498  TECH            -0.394663     0.0
512  TRMB            -0.183140     0.0
526   TYL            -0.300000     0.0
542  VRSN            -0.449892     0.0

In [264]:
winner_ret = monthly_return.loc[formation+MonthEnd(3),monthly_return.columns.isin(winners['index'])]
winner_ret

ABC     0.068704
AYE     0.206133
BLK     0.076924
CB      0.085434
CERN   -0.069065
CIEN   -0.016527
CNX    -0.199329
DGX     0.003328
EOG    -0.032334
HSIC   -0.017439
IGT     0.098695
JKHY    0.035156
JNPR   -0.279519
LEN    -0.154170
LH     -0.005248
NOV    -0.127687
NVR    -0.095006
RE      0.064526
REGN    0.029023
RHI     0.014389
SBAC   -0.320915
TDY     0.254753
TMO     0.058801
UHS    -0.108734
VRTX    0.139523
Name: 2001-05-31 00:00:00, dtype: float64

In [265]:
def mom(formation, holdingperiod =1 ):
    begin_measurement =formation -MonthEnd(3)
    end_measurement = formation - MonthEnd(1)
    return_12 = past_11.loc[end_measurement]
    return_12 = return_12.reset_index()
    return_12['decile'] = pd.qcut(return_12.iloc[:,1], q=10 , labels=False, duplicates='drop')
    price_12mbefore = monthly_return.loc[begin_measurement]
    returns = return_12/price_12mbefore - 1
    winners = return_12[return_12['decile'] == 9]
    losers= return_12[return_12['decile'] == 0]
    winner_ret = monthly_return.loc[formation+MonthEnd(holdingperiod),monthly_return.columns.isin(winners['index'])]
    losers_ret = monthly_return.loc[formation+MonthEnd(holdingperiod),monthly_return.columns.isin(losers['index'])]
    momentum_profit = winner_ret.mean() - losers_ret.mean()

    return momentum_profit

In [266]:
mom(formation,1)

0.12436362936594281

In [290]:
for i in range (80):
    print((formation+MonthEnd(i*3)))

2001-02-28 00:00:00
2001-05-31 00:00:00
2001-08-31 00:00:00
2001-11-30 00:00:00
2002-02-28 00:00:00
2002-05-31 00:00:00
2002-08-31 00:00:00
2002-11-30 00:00:00
2003-02-28 00:00:00
2003-05-31 00:00:00
2003-08-31 00:00:00
2003-11-30 00:00:00
2004-02-29 00:00:00
2004-05-31 00:00:00
2004-08-31 00:00:00
2004-11-30 00:00:00
2005-02-28 00:00:00
2005-05-31 00:00:00
2005-08-31 00:00:00
2005-11-30 00:00:00
2006-02-28 00:00:00
2006-05-31 00:00:00
2006-08-31 00:00:00
2006-11-30 00:00:00
2007-02-28 00:00:00
2007-05-31 00:00:00
2007-08-31 00:00:00
2007-11-30 00:00:00
2008-02-29 00:00:00
2008-05-31 00:00:00
2008-08-31 00:00:00
2008-11-30 00:00:00
2009-02-28 00:00:00
2009-05-31 00:00:00
2009-08-31 00:00:00
2009-11-30 00:00:00
2010-02-28 00:00:00
2010-05-31 00:00:00
2010-08-31 00:00:00
2010-11-30 00:00:00
2011-02-28 00:00:00
2011-05-31 00:00:00
2011-08-31 00:00:00
2011-11-30 00:00:00
2012-02-29 00:00:00
2012-05-31 00:00:00
2012-08-31 00:00:00
2012-11-30 00:00:00
2013-02-28 00:00:00
2013-05-31 00:00:00
2013-08-31 00:00:00
2013-11-30 00:00:00
2014-02-28 00:00:00
2014-05-31 00:00:00
2014-08-31 00:00:00
2014-11-30 00:00:00
2015-02-28 00:00:00
2015-05-31 00:00:00
2015-08-31 00:00:00
2015-11-30 00:00:00
2016-02-29 00:00:00
2016-05-31 00:00:00
2016-08-31 00:00:00
2016-11-30 00:00:00
2017-02-28 00:00:00
2017-05-31 00:00:00
2017-08-31 00:00:00
2017-11-30 00:00:00
2018-02-28 00:00:00
2018-05-31 00:00:00
2018-08-31 00:00:00
2018-11-30 00:00:00
2019-02-28 00:00:00
2019-05-31 00:00:00
2019-08-31 00:00:00
2019-11-30 00:00:00
2020-02-29 00:00:00
2020-05-31 00:00:00
2020-08-31 00:00:00
2020-11-30 00:00:00

In [241]:
profits =[]
dates =[]
c = pd.DataFrame(columns=['dates', '3', '6', '9', '12'])

b = [3,6,9,12]
# for  j in b:
for j in b:
    for i in range(12*20):
        c['dates']




c.append(profits)


    #     profits.append(mom(formation+ MonthEnd(i),j))
    #     dates.append(formation+MonthEnd(i))
    # out =[dates,profits]
    # out = np.transpose(out)
    # z = pd.DataFrame(out, columns=[['dates', 'profits']])
c

         dates   3   6   9  12
0   2001-01-31 NaT NaT NaT NaT
1   2001-02-28 NaT NaT NaT NaT
2   2001-03-31 NaT NaT NaT NaT
3   2001-04-30 NaT NaT NaT NaT
4   2001-05-31 NaT NaT NaT NaT
..         ...  ..  ..  ..  ..
955 2020-08-31 NaT NaT NaT NaT
956 2020-09-30 NaT NaT NaT NaT
957 2020-10-31 NaT NaT NaT NaT
958 2020-11-30 NaT NaT NaT NaT
959 2020-12-31 NaT NaT NaT NaT

[960 rows x 5 columns]

In [217]:
c = pd.DataFrame(columns=['dates', '3', '6', '9', '12'])

In [204]:
out =[dates,profits]
out = np.transpose(out)
z = pd.DataFrame(out, columns=[['dates', 'profits']])

In [189]:
z

         dates   profits
0   2001-01-31 -0.098454
1   2001-02-28 -0.082798
2   2001-03-31  -0.02571
3   2001-04-30  0.032053
4   2001-05-31  0.103417
..         ...       ...
955 2020-08-31  0.090904
956 2020-09-30  0.019473
957 2020-10-31 -0.042697
958 2020-11-30  0.077361
959 2020-12-31  0.052064

[960 rows x 2 columns]

TypeError: Can only merge Series or DataFrame objects, a <class 'pandas.core.indexes.range.RangeIndex'> was passed

In [ ]:
# def momentum_winner (formation, holdingperiod=1):
#     begin_measurement = formation -MonthEnd(12)
#     end_measurement = formation - MonthEnd(1)
#     price_end = monthly_return.loc[end_measurement]
#     prices_12mbefore = monthly_return.loc[begin_measurement]
#     ret_12 = price_end/prices_12mbefore -1