In [394]:
import yfinance as yf
import numpy as np
import pandas as pd
import datetime as dt
from pandas.tseries.offsets import MonthEnd
from yahooquery import Ticker

In [395]:
uni = pd.read_csv('S&P500 from 2000-2021')

In [396]:
tickers = uni.ticker.to_list()

In [397]:
len(tickers)

653

In [398]:
data = yf.download(tickers, start='2000-01-01', end='2021-12-31')

[*********************100%***********************]  575 of 575 completed

130 Failed downloads:
- BRCM: No data found for this date range, symbol may be delisted
- CPGX: No data found for this date range, symbol may be delisted
- FDC: No data found, symbol may be delisted
- AGN: No data found, symbol may be delisted
- TSO: No data found for this date range, symbol may be delisted
- DJ: No data found for this date range, symbol may be delisted
- TSS: No data found, symbol may be delisted
- MIL: No data found for this date range, symbol may be delisted
- XEC: No data found, symbol may be delisted
- NBL: No data found, symbol may be delisted
- TIF: No data found, symbol may be delisted
- HRS: No data found, symbol may be delisted
- DWDP: No data found, symbol may be delisted
- SNDK: No data found for this date range, symbol may be delisted
- QEP: No data found, symbol may be delisted
- AV: No data found for this date range, symbol may be delisted
- CAM: No data found for this date range, symbol may be delisted
- SIAL: No data found for this date range, symbol may be delisted
- KSU: No data found, symbol may be delisted
- PGN: No data found for this date range, symbol may be delisted
- FLIR: No data found, symbol may be delisted
- RTN: No data found, symbol may be delisted
- MJN: No data found for this date range, symbol may be delisted
- HCBK: No data found for this date range, symbol may be delisted
- TE: No data found for this date range, symbol may be delisted
- LXK: No data found for this date range, symbol may be delisted
- AKS: No data found, symbol may be delisted
- TYC: No data found for this date range, symbol may be delisted
- ESV: No data found, symbol may be delisted
- DF: No data found, symbol may be delisted
- PCLN: No data found for this date range, symbol may be delisted
- WCG: No data found, symbol may be delisted
- HSP: No data found for this date range, symbol may be delisted
- PCS: No data found for this date range, symbol may be delisted
- VAR: No data found, symbol may be delisted
- APOL: No data found for this date range, symbol may be delisted
- TSG: No data found, symbol may be delisted
- EK: No data found for this date range, symbol may be delisted
- JDSU: No data found for this date range, symbol may be delisted
- WLTW: No data found, symbol may be delisted
- MWW: No data found for this date range, symbol may be delisted
- INFO: No data found, symbol may be delisted
- RDC: No data found, symbol may be delisted
- KORS: No data found for this date range, symbol may be delisted
- LO: No data found for this date range, symbol may be delisted
- RHT: No data found, symbol may be delisted
- JEC: No data found, symbol may be delisted
- FNM: No data found for this date range, symbol may be delisted
- AVP: No data found, symbol may be delisted
- MNK: No data found, symbol may be delisted
- ETFC: No data found, symbol may be delisted
- WYN: No data found for this date range, symbol may be delisted
- ALXN: No data found, symbol may be delisted
- DPS: No data found for this date range, symbol may be delisted
- NVLS: No data found for this date range, symbol may be delisted
- RRD: No data found, symbol may be delisted
- COG: No data found, symbol may be delisted
- Q: No data found for this date range, symbol may be delisted
- DNR: No data found, symbol may be delisted
- BXLT: No data found for this date range, symbol may be delisted
- GENZ: No data found for this date range, symbol may be delisted
- NOVL: No data found for this date range, symbol may be delisted
- BCR: No data found for this date range, symbol may be delisted
- CMCSK: No data found for this date range, symbol may be delisted
- CELG: No data found, symbol may be delisted
- LEH: No data found for this date range, symbol may be delisted
- MXIM: No data found, symbol may be delisted
- QTRN: No data found for this date range, symbol may be delisted
- FTR: No data found, symbol may be delisted
- GGP: No data found for this date range, symbol may be delisted
- DLPH: No data found, symbol may be delisted
- DO: Data doesn't exist for startDate = 946702800, endDate = 1640926800
- MHS: No data found for this date range, symbol may be delisted
- GR: No data found for this date range, symbol may be delisted
- SLE: No data found for this date range, symbol may be delisted
- LVLT: No data found for this date range, symbol may be delisted
- BS: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted
- MOLX: No data found for this date range, symbol may be delisted
- STJ: No data found for this date range, symbol may be delisted
- VIAB: No data found, symbol may be delisted
- HAR: No data found for this date range, symbol may be delisted
- TWC: No data found for this date range, symbol may be delisted
- PCL: No data found for this date range, symbol may be delisted
- WPX: No data found, symbol may be delisted
- TLAB: No data found for this date range, symbol may be delisted
- SBL: No data found for this date range, symbol may be delisted
- APC: No data found, symbol may be delisted
- FRE: No data found for this date range, symbol may be delisted
- KFT: No data found for this date range, symbol may be delisted
- RAI: No data found for this date range, symbol may be delisted
- GMCR: No data found for this date range, symbol may be delisted
- FII: No data found, symbol may be delisted
- SWY: No data found for this date range, symbol may be delisted
- WFM: No data found for this date range, symbol may be delisted
- YHOO: No data found for this date range, symbol may be delisted
- JOY: No data found for this date range, symbol may be delisted
- ABS: No data found for this date range, symbol may be delisted
- BMC: No data found for this date range, symbol may be delisted
- XTO: No data found for this date range, symbol may be delisted
- MFE: No data found for this date range, symbol may be delisted
- DTV: No data found, symbol may be delisted
- CSC: No data found for this date range, symbol may be delisted
- CVC: No data found for this date range, symbol may be delisted
- LM: No data found, symbol may be delisted
- CFN: No data found for this date range, symbol may be delisted
- ARG: No data found for this date range, symbol may be delisted
- JNS: No data found for this date range, symbol may be delisted
- GAS: No data found for this date range, symbol may be delisted
- SLR: No data found for this date range, symbol may be delisted
- CVH: No data found for this date range, symbol may be delisted
- LUK: No data found for this date range, symbol may be delisted
- BJS: No data found for this date range, symbol may be delisted
- LLTC: No data found for this date range, symbol may be delisted
- FDO: No data found for this date range, symbol may be delisted
- WIN: No data found, symbol may be delisted
- GRA: No data found, symbol may be delisted
- SPLS: No data found for this date range, symbol may be delisted
- CEPH: No data found for this date range, symbol may be delisted
- SMS: No data found for this date range, symbol may be delisted
- JCP: No data found, symbol may be delisted
- HNZ: No data found, symbol may be delisted
- ACE: No data found for this date range, symbol may be delisted
- CXO: No data found, symbol may be delisted
- ACAS: No data found for this date range, symbol may be delisted
- FRX: No data found, symbol may be delisted
- CEG: Data doesn't exist for startDate = 946702800, endDate = 1640926800
- STI: No data found, symbol may be delisted
- KRFT: No data found for this date range, symbol may be delisted
- CBE: No data found for this date range, symbol may be delisted

In [399]:
data.tail()

                      Adj Close                                                \
                              A         AA        AAL         AAP        ABBV
Date
2021-12-27 00:00:00  158.531204  59.764008  18.170000  234.790527  133.029587
2021-12-28 00:00:00  158.970612  59.124710  18.540001  236.408752  133.009781
2021-12-29 00:00:00  160.438675  59.564228  18.049999  239.287781  133.969818
2021-12-30 00:00:00  160.668396  59.144688  18.070000  235.803162  134.533966
2021-12-31 00:00:00         NaN        NaN        NaN         NaN         NaN

                                                          ...     Volume  \
                            ABC ABK        ABMD ABS ACAS  ...         XL
Date                                                      ...
2021-12-27 00:00:00  131.471329 NaN  357.829987 NaN  NaN  ...  4187100.0
2021-12-28 00:00:00  131.929840 NaN  357.440002 NaN  NaN  ...  3164800.0
2021-12-29 00:00:00  132.906647 NaN  361.839996 NaN  NaN  ...  2692800.0
2021-12-30 00:00:00  133.335266 NaN  362.059998 NaN  NaN  ...  4984100.0
2021-12-31 00:00:00         NaN NaN         NaN NaN  NaN  ...        NaN

                                                                         \
                          XRAY        XRX XTO       XYL YHOO        ZBH
Date
2021-12-27 00:00:00  1268500.0  2209600.0 NaN  837200.0  NaN  1221065.0
2021-12-28 00:00:00   772100.0  1983400.0 NaN  402400.0  NaN  1506581.0
2021-12-29 00:00:00  1112400.0  2269700.0 NaN  708800.0  NaN  2508771.0
2021-12-30 00:00:00  1119100.0  1747000.0 NaN  401400.0  NaN  1304701.0
2021-12-31 00:00:00        NaN        NaN NaN       NaN  NaN        NaN


                         ZBRA      ZION        ZTS
Date
2021-12-27 00:00:00  636400.0  495500.0   807000.0
2021-12-28 00:00:00  139500.0  497200.0  1004400.0
2021-12-29 00:00:00  128600.0  691600.0   939900.0
2021-12-30 00:00:00   87500.0  413100.0   859100.0
2021-12-31 00:00:00       NaN       NaN        NaN

[5 rows x 3450 columns]

In [400]:
prices = data['Adj Close']
prices.index = pd.to_datetime(prices.index)
monthly_return = prices.pct_change().resample('M').agg(lambda x: (x+1).prod() -1)

In [419]:
monthly_return.head()

,A,AA,AAL,AAP,ABBV,ABC,ABK,ABMD,ABS,ACAS,...,XL,XRAY,XRX,XTO,XYL,YHOO,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-31,-0.080729,-0.138996,0.0,0.0,0.0,0.164659,-2.814488e-02,0.602740,0.0,0.0,...,0.0,0.053191,-0.136951,0.0,0.0,0.0,0.0,0.051054,0.071115,0.0
2000-02-29,0.569404,-0.013621,0.0,0.0,0.0,-0.196552,-1.110223e-16,0.263889,0.0,0.0,...,0.0,0.035354,0.041916,0.0,0.0,0.0,0.0,0.124604,-0.102537,0.0
2000-03-31,0.001204,0.025547,0.0,0.0,0.0,0.030043,5.801780e-02,-0.452240,0.0,0.0,...,0.0,0.109781,0.206497,0.0,0.0,0.0,0.0,-0.248826,-0.215548,0.0
2000-04-30,-0.147837,-0.076513,0.0,0.0,0.0,0.333334,2.737196e-02,-0.083333,0.0,0.0,...,0.0,0.024229,0.019231,0.0,0.0,0.0,0.0,0.140000,-0.003003,0.0
2000-05-31,-0.169253,-0.095731,0.0,0.0,0.0,0.212500,3.996395e-02,0.030303,0.0,0.0,...,0.0,0.055914,0.031295,0.0,0.0,0.0,0.0,-0.157895,0.131084,0.0

In [1220]:
past_03 = (monthly_return + 1).rolling(3).apply(np.prod) - 1
past_06 = (monthly_return + 1).rolling(6).apply(np.prod) - 1
past_09 = (monthly_return + 1).rolling(9).apply(np.prod) - 1
past_12 = (monthly_return + 1).rolling(12).apply(np.prod) - 1

In [1221]:
past_03_months = past_03.mask(past_03 == 0)
past_06_months = past_06.mask(past_06 == 0)
past_09_months = past_09.mask(past_09 == 0)
past_12_months = past_12.mask(past_12 == 0)

In [1222]:
formation = dt.datetime(2001,1,31)
formation

datetime.datetime(2001, 1, 31, 0, 0)

In [1223]:
begin_formation = formation + MonthEnd(3)
begin_formation

Timestamp('2001-04-30 00:00:00')

In [1224]:
end_measurement = begin_formation + MonthEnd(3)
end_measurement

Timestamp('2001-07-31 00:00:00')

In [1225]:
price_end = monthly_return.loc[end_measurement]

In [1226]:
price_end

A      -0.119693
AA     -0.019250
AAL     0.000000
AAP     0.000000
ABBV    0.000000
          ...
YHOO    0.000000
ZBH    -0.038978
ZBRA   -0.139862
ZION   -0.009322
ZTS     0.000000
Name: 2001-07-31 00:00:00, Length: 575, dtype: float64

In [1227]:
return_12 = past_12_months.loc[end_measurement]
return_12 = return_12.reset_index()
return_12

    index  2001-07-31 00:00:00
0       A            -0.297914
1      AA             0.318125
2     AAL                  NaN
3     AAP                  NaN
4    ABBV                  NaN
..    ...                  ...
570  YHOO                  NaN
571   ZBH            -0.038978
572  ZBRA            -0.172583
573  ZION             0.356662
574   ZTS                  NaN

[575 rows x 2 columns]

In [1228]:
return_12['decile'] = pd.qcut(return_12.iloc[:,1], q=10 , labels=False, duplicates='drop')
return_12

    index  2001-07-31 00:00:00  decile
0       A            -0.297914     1.0
1      AA             0.318125     6.0
2     AAL                  NaN     NaN
3     AAP                  NaN     NaN
4    ABBV                  NaN     NaN
..    ...                  ...     ...
570  YHOO                  NaN     NaN
571   ZBH            -0.038978     2.0
572  ZBRA            -0.172583     1.0
573  ZION             0.356662     6.0
574   ZTS                  NaN     NaN

[575 rows x 3 columns]

In [1229]:
price_12mbefore = monthly_return.loc[begin_formation]
price_12mbefore

A       0.269444
AA      0.151599
AAL     0.000000
AAP     0.000000
ABBV    0.000000
          ...
YHOO    0.000000
ZBH     0.000000
ZBRA    0.134689
ZION    0.023037
ZTS     0.000000
Name: 2001-04-30 00:00:00, Length: 575, dtype: float64

In [1230]:
winners = return_12[return_12['decile'] == 9]
winners.head()

    index  2001-07-31 00:00:00  decile
37    ANF             1.426251     9.0
51   ATVI             2.876571     9.0
66    BIO             1.073651     9.0
76    BRO             1.032341     9.0
122  CPRT             1.141887     9.0

In [1231]:
losers= return_12[return_12['decile'] == 0]
losers.head()

   index  2001-07-31 00:00:00  decile
19  AKAM            -0.901724     0.0
22  ALGN            -0.557926     0.0
28   AMD            -0.492778     0.0
32   AMT            -0.604665     0.0
33  AMZN            -0.585394     0.0

In [1232]:
winner_ret = monthly_return.loc[formation+MonthEnd(1),monthly_return.columns.isin(winners['index'])]
winner_ret.head()

ANF    -0.048642
ATVI    0.265517
BIO    -0.159472
BRO     0.134575
CPRT    0.006644
Name: 2001-02-28 00:00:00, dtype: float64

In [1233]:
def mom(begin_measurement, holdingperiod =1, formation_period =1  ):
    end_measurement = begin_formation + MonthEnd(formation_period)
    if formation_period ==3 :
        returns = past_03_months.loc[end_measurement]
    elif formation_period == 6:
        returns = past_06_months.loc[end_measurement]
    elif formation_period == 9:
        returns = past_09_months.loc[end_measurement]
    else: returns = past_12_months.loc[end_measurement]
    returns = returns.reset_index()
    returns['decile'] = pd.qcut(returns.iloc[:,1], q=10 , labels=False, duplicates='drop')
    winners = returns[returns['decile'] == 9]
    losers= returns[returns['decile'] == 0]
    winner_ret = monthly_return.loc[formation+MonthEnd(holdingperiod),monthly_return.columns.isin(winners['index'])]
    losers_ret = monthly_return.loc[formation+MonthEnd(holdingperiod),monthly_return.columns.isin(losers['index'])]
    momentum_profit = winner_ret.mean() - losers_ret.mean()
    return momentum_profit

In [1234]:
j1 = [3,6,9,12]
k2 = [12,9,6,3]

In [1235]:
# cols = []
# cols.append('dates')
# for j in j1:
#     for k in j1:
#         cols.append(f'J:{j}, K:{k}')
# cols

In [1236]:
dates=[]
profits=[]
cols2 = []
for i in range (240):
    begin_formation = formation + MonthEnd(i)
    for j in j1:
        for k in j1:
            profits.append(mom(begin_formation,j,k))
            dates.append(begin_formation)
            cols2.append(f'J:{j}, K:{k}')

In [1237]:

df_porfits = pd.DataFrame(profits,columns=['profits'])

In [1238]:
len(profits)

3840

In [1239]:
df = pd.DataFrame()
df['dates'] = dates

In [1240]:
df['port'] = cols2

In [1241]:
df['returns'] = profits

In [1242]:
df = df.sort_values(by='port')
df

          dates        port   returns
1919 2010-12-31  J:12, K:12  0.017804
1551 2009-01-31  J:12, K:12 -0.027517
1535 2008-12-31  J:12, K:12 -0.016082
1519 2008-11-30  J:12, K:12  0.008490
1503 2008-10-31  J:12, K:12  0.018464
...         ...         ...       ...
1706 2009-11-30    J:9, K:9 -0.038772
330  2002-09-30    J:9, K:9  0.123686
3610 2019-10-31    J:9, K:9  0.014196
1482 2008-09-30    J:9, K:9  0.107700
1242 2007-06-30    J:9, K:9  0.076349

[3840 rows x 3 columns]

In [1243]:
df = df.groupby('port').mean()
df = df.sort_values('returns' , ascending=True)
df

             returns
port
J:6, K:12   0.000830
J:6, K:3    0.001368
J:6, K:6    0.002289
J:3, K:3    0.002436
J:3, K:6    0.002545
J:6, K:9    0.002757
J:9, K:3    0.004306
J:9, K:6    0.005098
J:12, K:3   0.006184
J:3, K:9    0.008098
J:9, K:9    0.008525
J:12, K:6   0.009917
J:9, K:12   0.010360
J:12, K:9   0.010713
J:12, K:12  0.011212
J:3, K:12   0.011947

In [1250]:
df['returns_annualized'] = ((df['returns'] + 1)**12 -1) *100
df

             returns  returns_an  returns_annualized
port
J:6, K:12   0.000830    1.001015            1.001015
J:6, K:3    0.001368    1.654113            1.654113
J:6, K:6    0.002289    2.782184            2.782184
J:3, K:3    0.002436    2.962520            2.962520
J:3, K:6    0.002545    3.097325            3.097325
J:6, K:9    0.002757    3.358616            3.358616
J:9, K:3    0.004306    5.291875            5.291875
J:9, K:6    0.005098    6.292500            6.292500
J:12, K:3   0.006184    7.677999            7.677999
J:3, K:9    0.008098   10.161798           10.161798
J:9, K:9    0.008525   10.723445           10.723445
J:12, K:6   0.009917   12.571702           12.571702
J:9, K:12   0.010360   13.165668           13.165668
J:12, K:9   0.010713   13.640716           13.640716
J:12, K:12  0.011212   14.315785           14.315785
J:3, K:12   0.011947   15.317579           15.317579

             returns  returns_an  returns_annualized
port
J:6, K:12   0.000830    1.001015            1.001015
J:6, K:3    0.001368    1.654113            1.654113
J:6, K:6    0.002289    2.782184            2.782184
J:3, K:3    0.002436    2.962520            2.962520
J:3, K:6    0.002545    3.097325            3.097325
J:6, K:9    0.002757    3.358616            3.358616
J:9, K:3    0.004306    5.291875            5.291875
J:9, K:6    0.005098    6.292500            6.292500
J:12, K:3   0.006184    7.677999            7.677999
J:3, K:9    0.008098   10.161798           10.161798
J:9, K:9    0.008525   10.723445           10.723445
J:12, K:6   0.009917   12.571702           12.571702
J:9, K:12   0.010360   13.165668           13.165668
J:12, K:9   0.010713   13.640716           13.640716
J:12, K:12  0.011212   14.315785           14.315785
J:3, K:12   0.011947   15.317579           15.317579